body {
    font-family: "Times New Roman", Times, serif;
    background-color: light blue;
    text-align: center;
    color: black;
}

h1 {
    color: navy;
}

img {
    max-width: 300px;
    display: block;
    margin: 10px auto;
}

p {
    font-size: 18px;
}
