body {
    font-family: "Times New Roman", Times, serif;
    background-color: BlanchedAlmond;
    text-align: center;
    color: black;
}

h1 {
    color: black;
}

img {
    max-width: 300px;
    display: block;
    margin: 10px auto;
}

p {
    font-size: 18px;

#item-image {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}

#item-description {
  font-size: 18px;
  margin: 15px auto;
  line-height: 1.6;
  max-width: 600px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

ul li {
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 1.6;
}
